<% form_tag "/blogs/create" do %>
  <table>
    <tr>
      <td>Title:</td>
      <td><%= text_field_tag "title" %></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td><%= text_area_tag "content" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Create!" %></td>
  </table>
      
<%end%>